<div class="settings">
    <div class="keys">
        <div class="twitterKeys">
            <div class="settingsTitle"><h2>Twitter:</h2></div>
            <div class="settingsAPIs">
                <h3>API_KEY</h3>
                <h3>API_SECRET</h3>
                <h3>ACCESS_TOKEN</h3>
                <h3>ACCESS_SECRET</h3>
            </div>

        </div>

        <div class="githubKeys">
            <div class="settingsTitle"><h2>Github:</h2></div>
            <div class="settingsAPIs">
                <h3>PERSONAL_TOKEN</h3>
                <h3>REPOSITORY</h3>
                <h3>DIRECTORY</h3>
                <h3>README.md</h3>
            </div>

        </div>
    </div>

    <div class="key-input">
        <div class="key-input-text">
            <input value="Not found..." spellcheck="false"></input>
        </div>
        
        <div class="key-input-submit">
            <div class="key-input-submit-check checkDisabled">
                <img src="images/check1.png">
            </div>
        </div>
    </div>

    <div class="file-action-buttons">
        <div class="file-button upload"><img src="images/upload.png"></div>
        <input type="file" id="fileInput" style="display: none;">

        <div class="file-button download"><img src="images/download.png"></div>
    </div>

    <div class="slider">
        ==================
    </div>
</div>