<%- include("partials/header.ejs", {activePage: "Dashboard", profileNameTwitter: profileNameTwitter, profilePictureTwitter: profilePictureTwitter, profileNameGithub: profileNameGithub, profilePictureGithub: profilePictureGithub, repository: repository}) %>

<section id="dashboard">

    <%- include("partials/settings.ejs") %>

    <div class="input">
        <div class="entries">
            <div class="entryGithub">
                <div class="entryTitle" contenteditable="true"></div>
                <hr id="hrBlue">
                <div class="entryDescription" contenteditable="true"></div>
                <button class="clearButton"><img src="images/delete.png"></button>
            </div>

            <div class="entryTwitter">
                <div class="entryTitle" contenteditable="true"></div>
                <hr id="hrBlueTwitter">
                <div class="entryDescription" contenteditable="true"></div>
                <button class="clearButton"><img src="images/delete.png"></button>
            </div>
        </div>

        
        <div class="entryButtons">
            <div class="githubEntryButton"><img src="images/github-text.png"></div>
            <div class="twitterEntryButton"><img src="images/twitter-text.png"></div>
            <form id="form" action="/submit-github" method="POST">
                <textarea id="textareaTitleGithub" name="titleGithub" style="display:none"></textarea>
                <textarea id="textareaTitleTwitter" name="titleTwitter" style="display:none"></textarea>
                <textarea id="textareaDescriptionGithub" name="descriptionGithub" style="display:none"></textarea>
                <textarea id="textareaDescriptionTwitter" name="descriptionTwitter" style="display:none"></textarea>
                <input class="submitEntryButton" value="Submit" type="submit">
                <div id="charCount">0</div>
                <div class="previewButton">Preview</div>
            </form>
        </div>

    </div>    
</section>

<script src="scripts/switchPost.js" defer></script>


<%- include("partials/footer.ejs") %>
<%- include("partials/belowFooter.ejs") %>